doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title i3

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 i3-wm
          h4 Tiling never felt so good

      section
        h2 Who are we?
     
      section
        img.avatar(src="images/matt.jpg")
        h2 Matt Kelsey
        h4 Programmer - Workflow Fanatic
        h6 @mattkelsey

      section
        img.avatar(src="images/jesse.jpg")
        h2 I'm Jesse!
        h4 Sysadmin - Artist
        h6 @jpwall
        
      section
        img(src="images/arch.png" height="70%" width="auto")

      section(data-bespoke-backdrop="backdrop backdrop--history")
        h2.bullet Brief History of i3
        h3.bullet Inspired by wmii
        h3.bullet First commit April, 2009
        h3.bullet Michael Stapelberg
        
      section(data-bespoke-backdrop='backdrop backdrop--wmii')
        h2.bullet Wait, what is wmii?
        h3.bullet Stands for Window Manager Improved 2
        h3.bullet Very similar to i3
        h3.bullet But looks different and handles configs different
        h3.bullet Not in development anymore
      
      section
        h2.bullet What i3 is...
        h3.bullet Window manager
        h3.bullet Simple status
        h3.bullet Simple application launching
        h3.bullet Powerful tiling
      section
        h2.bullet What i3 is not...
        h3.bullet Desktop environment
        h4.bullet display manager, utility applications, etc
        
      section
        h2.single-words.big-space FIVE MINUTE INSTALL
      section.clockSlide
        div
          span.minutes
          span.dots :
          span.seconds
      section
        h2 Well this is embarrassing...
        code.language-none sudo apt-get install x-window-system
        code.language-none sudo apt-get install i3
        code.language-none echo "exec i3" >> ~/.xinitrc
        code.language-none startx
      section
        h1 FUNCTIONALITY
      section
        h2.bullet Configs
        h3.bullet Copy template from...
        code.bullet.language-none /etc/i3/config
        code.bullet.language-none ~/.i3/config
        code.bullet.language-none ~/.config/i3/config
      section
        h2.bullet Keybinds
        h3.bullet A point of much contention...
        h3.bullet Highly configurable (who'd have guessed?)
        code.bullet.language-java.
          bindsym $mod+Shift+q poweroff
        code.bullet.language-java.
          bindsym $mod+Shift+f exec firefox
        h3.bullet A note on <code class="language-java">--no-startup-id</code>
      section
        h2.bullet Workspaces, i3bar, and window management!
        h3.bullet Buckle up.
      section
        h2.bullet i3 v. j4
        h3.bullet j4status v. i3status v. py3status
        h3.bullet j4-dmenu-desktop v. i3-dmenu-desktop (no equivalent to i3-dmenu)
      
      section 
        h1 AESTHETICS

      section
        h2.bullet Colors
        h3.bullet Anything in i3 can have a user-specified color
        h3.bullet Is specified with a hex-value (sometimes opacity values too)
        
      section
        h2.bullet i3 Window Color Declarations
        img.bullet(src="images/windowDeclarationsColors.png" width="100%")
        
      section
        h2.bullet i3 Bar Color Declarations
        img.bullet(src="images/barDeclarationsColors.png" width="100%")
       
      section
        h2.bullet Setting the Background
        h3.bullet Two different methods
        
      section
        h2.bullet Option 1: feh
        h3.bullet Install feh 
        h3.bullet Add one line to end of i3 configuration file
        img.bullet(src="images/feh.png" width="100%")
        
      section 
        h2.bullet Option 2: xsetroot
        h3.bullet Preferred by some over feh
        h3.bullet Lighter install (xsetroot only does one thing)
        h3.bullet Capability of setting background as solid color or image
        h3.bullet INSERT IMAGE SHOWING THIS
        
      section
        h2.bullet i3-gaps
        h3.bullet Popular fork of i3
        h3.bullet Provides gap configuration in windows
        
      section
        h2.bullet How to Install i3-gaps
        h3.bullet Debian/Ubuntu/Other: Install from source
        h3.bullet Arch: Install from AUR under <code class="language-none">i3-gaps</code> package
        h3.bullet Reference for all <a href="https://github.com/Airblader/i3/wiki/Compiling-&-Installing">here</a>
        h3.bullet NOTE: It will install over an existing i3 install perfectly fine
        
      section
        h2.bullet How to Use i3-gaps
        h3.bullet Use it just like normal i3 except...
        h3.bullet WITH GAPS!
        h3.bullet Gaps declared with pixel count on inner and outer spacings between windows/edge of screen
        h3.bullet INSERT IMAGE SHOWING THIS (ON ANOTHER SLIDE?)
        
      section
        h2.bullet Pro Tips for i3-gaps
        h3.bullet Generally windows look better without a border or title bar in i3-gaps
        h3.bullet Set this with <code class="language-none">for_window [class="^.*"] border pixel 0</code>
        
      section
        h2.bullet Pro Tips for i3-gaps/general i3 (continued)
        h3.bullet Refreshing the layout of i3 is <b>very useful</b>
        h3.bullet Do so after changing config with <code class="language-none">$mod+Shift+r</code> or other set keybind
        
      section
        h2.bullet Application Launchers
        h3.bullet Two main common launchers
        h3.bullet Dmenu (default suggestion)
        h3.bullet Rofi
        
      section
        h2.bullet Dmenu
        h3.bullet All colors can be changed in dmenu as well
        h3.bullet Limited visual configuration
        h3.bullet Default application to be started with <code class="language-none">$mod+d</code>
        h3.bullet INSERT IMAGE OF DMENU
       
      section
        h2.bullet Rofi
        h3.bullet Challenging to install and configure
        h3.bullet Very customizable visually
        h3.bullet Simple to integrate with i3 (same as dmenu)
        h3.bullet INSERT IMAGE OF ROFI

        
    script(src='build/build.js')
