doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title i3

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 i3-wm
          h4 Tiling never felt so good

      section
        h2 Who are we?
     
      section
        img.avatar(src="images/matt.jpg")
        h2 Matt Kelsey
        h4 Programmer - Workflow Fanatic
        h6 @mattkelsey

      section
        img.avatar(src="images/jesse.jpg")
        h2 I'm Jesse!
        h4 Sysadmin - Artist
        h6 @jpwall
        
      section
        img(src="images/arch.png" height="70%" width="auto")

      section
        h2.bullet Brief History of i3
        h3.bullet Inspired by wmii
        h3.bullet First commit April, 2009
        h3.bullet Michael Stapelberg

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

      section
        h1 example
        h2 example
        h3 example
        h4 example
        h5 example
        h6 example
        
    script(src='build/build.js')
