doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title i3

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 i3-wm
          h4 Tiling never felt so good

      section
        h2 Who are we?
     
      section
        img.avatar(src="images/matt.jpg")
        h2 Matt Kelsey
        h4 Programmer - Workflow Fanatic
        h6 @mattkelsey

      section
        img.avatar(src="images/jesse.jpg")
        h2 I'm Jesse!
        h4 Sysadmin - Artist
        h6 @jpwall
        
      section
        img(src="images/arch.png" height="70%" width="auto")

      section(data-bespoke-backdrop="backdrop backdrop--history")
        h2.bullet Brief History of i3
        h3.bullet Inspired by wmii
        h3.bullet First commit April, 2009
        h3.bullet Michael Stapelberg
        
      section(data-bespoke-backdrop='backdrop backdrop--wmii')
        h2 But Wait, What is wmii?
        h3.bullet Stands for Window Manager Improved 2
        h3.bullet Very similar to i3
        h3.bullet But looks different and handles configs different
        h3.bullet Not in development anymore
        
      section
        h1 AESTHETICS
        
      section
        h2 Colors
        h3.bullet Anything in i3 can have a user-specified color
        h3.bullet Is specified with a hex-value (sometimes opacity values too)
        
      section
        h2 i3 Window Color Declarations
        <img src="images/windowDeclarationsColors.png" style="width:100%;height:auto;">
        
      section
        h2 i3 Bar Color Declarations
        <img src="images/barDeclarationsColors.png" style="width:100%;height:auto;">
       
      section
        h2 Setting the Background
        h3.bullet Two different methods
        
      section
        h2 Option 1: feh
        h3.bullet Install feh 
        h3.bullet Add one line to end of i3 configuration file
        h3.bullet <img src="images/feh.png" style="width:100%;height:auto;">
        
      section 
        h2 Option 2: xsetroot
        h3.bullet Preferred by some over feh
        h3.bullet Capability of setting background as solid color
        h3.bullet INSERT IMAGE SHOWING THIS
        
      section
        h2 i3-gaps
        h3.bullet Popular fork of i3
        h3.bullet Provides gap configuration in windows
        
      section
        h2 How to Install i3-gaps
        h3.bullet Debian/Ubuntu/Other: Install from source
        h3.bullet Arch: Install from AUR under <code>i3-gaps</code> package
        h3.bullet Reference for all <a href="https://github.com/Airblader/i3/wiki/Compiling-&-Installing">here</a>
        h3.bullet NOTE: It will install over an existing i3 install perfectly fine
        
      section
        h2 How to Use i3-gaps
        h3.bullet Use it just like normal i3 except...
        h3.bullet WITH GAPS!
        h3.bullet Gaps declared with pixel count on inner and outer spacings between windows/edge of screen
        h3.bullet INSERT IMAGE SHOWING THIS (ON ANOTHER SLIDE?)
        
      section
        h2 Pro Tips for i3-gaps
        h3.bullet Generally windows look better without a border or title bar in i3-gaps
        h3.bullet Set this with <code>for_window [class="^.*"] border pixel 0</code>
        
      section
        h2 Pro Tips for i3-gaps/general i3 (continued)
        h3.bullet Refreshing the layout of i3 is <b>very useful</b>
        h3.bullet Do so after changing config with <code>$mod+Shift+r</code> or other set keybind
        
      section
        h2 Application Launchers
        h3.bullet Two main common launchers
        h3.bullet Dmenu (default suggestion)
        h3.bullet Rofi
        
      section
        h2 Dmenu
        h3.bullet All colors can be changed in dmenu as well
        h3.bullet Limited visual configuration
        h3.bullet Default application to be started with <code>$mod+d</code>
        h3.bullet INSERT IMAGE OF DMENU
       
      section
        h2 Rofi
        h3.bullet Challenging to install and configure
        h3.bullet Very customizable visually
        h3.bullet Simple to integrate with i3 (same as dmenu)
        h3.bullet INSERT IMAGE OF ROFI
        
      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

      section
        h1 example
        h2 example
        h3 example
        h4 example
        h5 example
        h6 example
        
    script(src='build/build.js')
